body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}

#calculator {
  overflow: hidden;
  max-width: 500px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
  background-color: black;
  width: 100%;
  height: 60px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: right;
  padding-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #e9e9e9;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 40px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f9f9f9;
}

button:hover {
  background-color: #e9e9e9;
}

button:active {
  background-color: #e9e9e9;
}

.operator-btn {
  background-color: #f35050;
}

.beda-dari {
  color: rgb(79, 119, 251);
}

.samadengan {
  background-color: rgba(10, 106, 249, 0.747);
}
